/*Done By Merry Terefe*/
/*This CSS implementation of the material page  */
.wrapper{/*it divided the whole page into three rows and 12 columns*/
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:  100px 560px 60px;
}
:root{
  --primary-color:#266777 !important;
  --secondary-color:#52ab98 !important;
  --tertiary-color:#c8d8e4 !important;
  --quaternary-color:#f2f2f2 !important;
  --quinary-color:#ffffff !important;

}

.dark-theme{
  --primary-color:#c4c4c4 !important;
  --secondary-color:#929292 !important;
  --tertiary-color:#484848 !important;
  --quaternary-color:#121212 !important;
  --quinary-color:#323232 !important;
}

:root{
  --primary: var(--primary-color);
}
.header{/*The header property is shown here*/
  grid-column: span 12;
  text-align: center;
  background-color: var(--quaternary-color);
}  
.menu{/* The Menu property is shown here*/
  grid-column: span 3;
  text-align: left;
  font-style: bold;
  background-color: var(--quinary-color);
}

.content{/* IT shows the property of Content*/
  grid-column: span 9;
  background-color: var(--quinary-color);
  text-align: center;
}
.footer{/*Describes the footer Property of the page*/
grid-column: span 12;
color: var(--primary-color);
bottom: 0vh;
right: 0vh;
left: 0vh;
padding: 10px;
}

@media  screen and(max-width:480px){/*Describe the property of the page when the max width is equal to 480px*/
  .header{
      grid-column: span6;
  }
  .menu{
      grid-row: 1;
      grid-column: span 12;
  }
  .content{
      grid-column:span 12 ;
  }
}
body{/*The property of the body is shown here*/
  background-color: var(--quaternary-color);
  margin: 0;}
  table {/*Property of the table*/
    border-collapse: collapse;
   
  }
 
  th {/*Property of the header row of the table*/
  background-color: var(--secondary-color);
  color: var(--quinary-color);
}
  th, td {/*property of the content of the table*/
    text-align: left;
    padding: 8px;
    width: 120px;
    border-bottom: 1px solid var(--quaternary-color);
  }
  label {/*property of the label*/
    padding: 12px 12px 12px 0;
    margin-left: auto;
    margin-bottom: 10px;
}


.material_table{
  width: 65%;
  align-items: center;
}
#dropdown{
  width: 20%;;
  padding:15px;
  margin-left: auto;
  margin-bottom: 10px;
}