<header class="header">
      <img id="meklog" class="logo" src="/assets/images/logo.png" alt="logo">
      <nav class="nav_links">
        
        
        <div class="dropdown">
            <button><a href="/admin/home" class="home"><h4>Home<h4></a></button>
            <div class="account">
              <button><h4>Account<h4></button>
              <ul class="hide">
                <li><a href="/admin/account/"><h4>Activation</h4></a></li>
                <li><a href="/adduser"><h4>Add User</h4></a></li>
                
              </ul>
            </div>
            <div class="approve">
              <button><h4>Approve</h4></button>
              <ul class="hide">
                <li><a href="/GradeReportApproval"><h4>Grade</h4></a></li>
                <li><a href="/admin/club/approval"><h4>Clubs</h4></a></li>
                <li><a href="/admin/event/approval"><h4>Event</h4></a></li>
                <li><a href="/approval/lostid"><h4>Lost ID</h4></a></li>
                <li><a href="#"><h4>Clearance</h4></a></li>
                <li><a href="/admin/dorm/approval"><h4>Dormitory</h4></a></li>
                <li><a href="/admin/financial/approval"><h4>Financial</h4></a></li>
                
              </ul>
            </div>
              <div class="other">
                <button><h4>Other<h4></button> 
                <ul class="hide">
                 
                  <li><a id="icon" href="#"><h4>Change Theme</h4></a></li>
                  <li><a id="icon" href="/eventschedule"><h4>Event Scheduling</h4></a></li>
                </ul>
              </div>

              
              <button><a class="logout" href="/logout"><h4>Logout<h4> </a> </button>
          </div>
      </nav>  
</header>
