<header class="header">
      <img id="meklog" class="logo" src="/assets/images/logo.png" alt="logo" >
      
        <div class="dropdown">
            <button><a href="/instructor/home" class="home"><h4>Home</h4></a></button>
            <div class="grade">
              <button><h4>Grade</h4></button>
              <ul class="hide">
                <li><a href="#"><h4>Grade Change</h4></a></li>
                <li><a href="/gradeSubmit2"><h4>Submit Grade</h4></a></li>
                
              </ul>
            </div>
            <div class="course">
              <button><h4>Course</h4></button>
              <ul class="hide">
                <li><a href="#"><h4>Average</h4></a></li>
                <li><a href="/courseStudent"><h4>Students</h4></a></li>
              </ul>
            </div>

              <div class="assignment">
                <button><h4>Assignment & Project</h4></button>
                <ul class="hide">
                  <li><a href="#"><h4>Inbox</h4></a></li>
                  <li><a href="/assign"><h4>Upload</h4></a></li>
                </ul>
              </div>

              <div class="other">
                <button><h4>Other</h4></button>
                <ul class="hide">
                  <li><a href="/makeuprequestinst"><h4>Make up</h4></a></li>
                  <li><a id="icon" href="#"><h4>Change Theme</h4></a></li>
                </ul>
              </div>

                <button><a class="logout" href="/logout"><h4>Logout<h4> </a> </button>
                
              </div>

          </div>
    </header>
