<header class="header">
    <img id="meklog" class="logo" src="/assets/images/logo.png" alt="logo" >

<nav class="nav_links">
        
        
    <div class="dropdown">
        <button><a href="/home" class="home"><h4>Home</h4> </a></button>
        
        <div class="staff">
         <button><h4>Staff</h4></button>
          <ul class="hide">
            <li><a href="/evaluation"><h4>Staff Evaluation</h4></a></li>
            <li><a href="/contactInstructor"><h4>Contact instructor</h4></a></li>
            <li><a href="/contactdephead"><h4>Contact Dep. Head</h4> </a></li>
            <li><a href="/makeuprequest"><h4>Makeup Exam Request</h4></a></li>
            <li><a href="/projectandassigmnet"><h4>Assignment Submission</h4></a></li>
            
          </ul>
        </div>

          <div class="counsel">
            <button><h4>Counsel</h4></button>
            <ul class="hide">
              <li><a href="/council"><h4>Counsel Info.</h4></a></li>
              <li><a href="#"><h4>Counsel Election</h4></a></li>
            </ul>
          </div>

          <div class="clubs">
            <button><h4>Clubs</h4></button>
            <ul class="hide">
              <li><a href="/club/clubcreate"><h4>Create</h4></a></li>
              <li><a href="/club/information"><h4>View</h4></a></li>
              <li><a href="/club/events"><h4>Events</h4></a></li>
            </ul>
          </div>

        

          
          <div class="grade">
            <button><h4>Grade</h4></button>
            <ul class="hide">
              <li><a href="/gradereport"><h4>Grade Report & Assesment</h4></a></li>
              <li><a href="/gradechange"><h4>Grade Change Petition</h4></a></li>
            </ul>
          </div>

          
          <div class="course">
            <button><h4>Course</h4></button>
            <ul  class="hide">
              <li><a href="#"><h4>Check List</h4></a></li>
              <li><a href="/registration"><h4>Registration</h4></a></li>
              <li><a href="/adddrop"><h4>Add / Drop</h4></a></li>
            </ul>
          </div>

          <div class="schedule">
            <button><h4>Schedule</h4></button>
            <ul class="hide">
              <li><a href="#"><h4>Course Schedule</h4></a></li>
              <li><a href="/eventschedulechecking"><h4>Event Schedule</h4></a></li>
             </ul>
          </div>


          <div class="student_service">
            <button><h4>Sevices</h4></button>
            <ul class="hide">
              <li><a href="/dormitory/Application"><h4>Dormitory</h4></a></li>
              <li><a href="/costSharing/accountInfo"><h4>Cost Sharing</h4></a></li>
              <li><a href="/dormitory/placement"><h4>Placement Check</h4></a></li>
               <li><a href="/financial"><h4>Financial aid</h4></a></li>
            </ul>
          </div>

          <div class="other">
            <button><h4>Other</h4></button>
            <ul class="hide">
              <li><a href="/intraTransferReq"><h4>Intra Transfer</h4></a></li>
              <li><a href="/clearance"><h4>Clearance Form</h4></a></li>
              <li><a href="/withdrawal"><h4>Withdrawal</h4></a></li>
              <li><a href="/lostid"><h4>Lost ID</h4></a></li>
              <li><a href="#"><h4>Change Password</h4></a></li>
              <li><a  href="#"><h4>Change Profile</h4> </a></li>
              <li><a id="icon" href="#"><h4>Change Theme</h4> </a></li>
              
            </ul>
          </div>

          <button><a class="logout" href="/logout"><h4>Log out</h4> </a> </button>
            
            
          </div>
         
      </div>

      
  </nav>

</header>
