<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add User</title>

    <link rel="stylesheet" href="/nav/adminNav.css">
    <link rel="stylesheet" href="/assets/css/admin/AddUser.css">
    <style>
      
      h1 {
    text-align: center;
}

article {
    width: 60%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
}

input[type=button], input[type=submit]{
    width: 15%;
    text-align: center;

}
.submit {
    display: grid;
    margin: auto;
}

    </style>

  </head>
  <body>
  
    <%- include('../partials/adminnav') %>

    
    <div class="body">
        <h1>Create Account For User</h1>
        
        <article><h2>Input the information in the space provided</h2><br>
            
            <form action="/adduser", method='POST'>

                <label for="name" >Name:</label>
                <input type="text" name="username">             &nbsp;            
                <label for="id" >Id Number:</label>
                <input type="text" name="id"><br><br>
                <label for="password">Password:</label>
                <input type="password" name="password">          &nbsp;
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword"><br><br>
                <% if(error) { %>
                    <p id="wrong"><!--confirm Password dont match password--></p>
                <% } %>
                <label for="">Upload Photo: </label>     
                <input type="file" value="Upload Photo" required><br><br>
                <input  name="occupation" type="radio"  value=1> <label >Student</label>  &nbsp;
                <input  name="occupation"type="radio" value=2> <label >Instructor</label>  &nbsp;
                <input  name="occupation"type="radio"  value=3> <label >Administrator</label>
            

        </article><br>
        
        <article><h2>For Student:</h2><br>
        
            
            <label for="Department">Department:</label>
            <select name="deps" >
                <option value="ElecEng">Electrical</option>
                <option value="SME">Mechanical</option>
                <option value="Civil">Civil</option>
                <option value="biomed">Biomed</option>
                <option value="soft">Software</option>
            </select>
        
        </article><br>
        <article>
            <h2>For Instructor:</h2><br>
            
                <label for="educationLevel">Education Level:</label>
                <select name="degree" >
                    <option value="bach">Bachelors</option>
                    <option value="mas">Masters</option>
                    <option value="phD">PhD</option>
                </select>
            
        </article><br>
        <article><h2>For Administrator:</h2><br>
            
                <label for="responsibility">Responsibility:</label>
                <select name="responsibility" >
                    <option value="Dean of Department">Dean of Department</option>
                    <option value="Chariman of Stream">Chariman of Stream</option>
                    <option value="Executive Director">Executive Director</option>
                </select>
            
        </article><br>
        <input class="submit" type="submit">
        <% if(error2) { %>
          <p id="wrong">Trying to fill the same data twice</p>
      <% } %>
    </form>
    </div>

    <script>

        var icon =document.getElementById("icon");
        icon.onclick= function(){
          document.body.classList.toggle("dark-theme");
          if (document.body.classList.contains("dark-theme")){
            meklog.src="/assets/images/logo3.png";
            landinglogo.src="/assets/images/logo4.png";
  
          
          } else{
            meklog.src="/assets/images/logo.png";
            landinglogo.src="/assets/images/logo2.png";
            
          }
        
        }
        
          </script>
  </body>
  <footer class="footer">
      
    <div class="container">
      
      <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
      
  </div>
    
  
  </footer>

</html>
