
/* Natnael Tedros - ATR/0119/11*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



:root{
  --primary-color:#266777 !important;
  --secondary-color:#52ab98 !important;
  --tertiary-color:#c8d8e4 !important;
  --quaternary-color:#f2f2f2 !important;
  --quinary-color:#ffffff !important;
  
}

.dark-theme{
  --primary-color:#f0f0f0 !important;
  --secondary-color:#929292 !important;
  --tertiary-color:#484848 !important;
  --quaternary-color:#121212 !important;
  --quinary-color:#323232 !important;
}

h1 {
    text-align: center;

}

form {
    text-align: center;
    
}

table, th, td {
    background-color: var(--quinary-color);
    border: 1px solid var(--secondary-color);
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

th {
    color: var(--secondary-color);
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
    color: var(--secondary-color);
    font-style: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit]{
    width: 8%;
    text-align: center;
    height: 30px;
    padding: 2px;
    
}

.body h1{
    color: var(--secondary-color);
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body h2{
    color: var(--secondary-color);
    text-align: center;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search{
    padding: 20px;
    background-color: var(--quinary-color);
    width: auto;
    height: auto;
    margin: 20px 20px;
    border-radius: 20px;
    text-align: center;
}
.viewSearch{
    padding: 20px;
    background-color: var(--quinary-color);
    width: auto;
    height: auto;
    margin: 20px 20px;
    border-radius: 20px;
    text-align: center;
}
input[type=button]{
    width: 10%;
    height: 50px;
    border: 1px solid;
  background: var(--secondary-color);
  border-radius: 25px;
  color: var(--quaternary-color);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 2px;
    
}
input[type="button"]:hover{
    border-color: var(--primary-color);
    transition: .5s;
  }
.search label{
    color: var(--secondary-color);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
