<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>instructor</title>
    
    <link rel="stylesheet" href="/nav/instructorNav.css">

    <link rel="stylesheet" href="/assets/css/instructor/instructor.css">

  </head>
  <body>

    <%- include('../partials/instructornav') %>

    <div class="body"><br>
      <h1>Welcome, Instructor!</h1>
      <div class="left">
        <img id="landinglogo" src="/assets/images/logo2.png" alt=""><br><br>
        <h1>"ኑ ትምህርት እንቅሰም"</h1>
      </div>
      <div class="right">
        <h1>What you can do:</h1><br>
        <p>In this page, you can access and edit your students grades, get information details about the courses you conduct, view and upload assignments.</p>
      </div>

    </div>


    <footer class="footer">
      
      <div class="container">
        
        <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
        
    </div>
      
    </footer>





    

    <script>

      var icon =document.getElementById("icon");
      icon.onclick= function(){
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")){
        
          meklog.src="/assets/images/logo3.png";
          img.src="/assets/images/teacher1.png";
          
        
        } else{
          meklog.src="/assets/images/logo.png";
          
        }
      
      }
      
        </script>

  </body>
</html>
