<!--Joshua Tadesse  ATR/7514/11-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
    <link rel="stylesheet" href="/assets/css/student/lost_id_request.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


  </head>
  <body>
    
    
    <%- include('../partials/studentnav') %>
     
    
  <section class="section">
    <h1>Lost ID Request</h1><br>								<!--main purpose of page-->
    <p>Fill in all the required information</p>
      <div id="div_a">
        <form action="/lostid" method="post">
          <label for="name"><sub>Name:</sub></label>					<!--name information-->
              <input type="text" id="name" name="name" value="" required><br><br>
       
          <label for="id"><sub>ID:</sub></label>						<!--ID information-->
              <input type="text" id="id" name="id" value=""required><br><br>
       
               <label for="year"><sub>Current Year:</sub></label>				<!--Current year information-->
              <input type="text" id="year" name="year" value="" required><br><br>
       
               <label for="dep"><sub>Department:</sub></label>					<!--Department information-->
              <input type="text" id="dep" name="dep" value="" required><br><br>
       
               <label for="date"><sub>Date Lost:</sub></label>					<!--Date id was lost information-->
              <input type="text" id="date" name="date" placeholder="dd/mm/yyyy" required><br><br>
              <% if(msg) { %>
                <p>Lost id request not successfull!!! please try again</p>
            <% } %>
        
            <button type="submit">submit</button> 					<!--submit and cancel buttons-->
            <button type="cancel">cancel</button> 
                   
         </form>
     </div>
  </section>

    <footer class="footer">
      
      <div class="container">
        
        <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
        
    </div>
      
    </footer>



    <script>

      var icon =document.getElementById("icon");
      icon.onclick= function(){
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")){
          meklog.src="/assets/images/logo3.png";
        
        } else{
          meklog.src="/assets/images/logo.png";
          
        }
      
      }
      
        </script>
  </body>
</html>
