<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title >Makeup Exam Request</title>
  <link rel="stylesheet" href="/nav/studentNav.css">
	<link rel="stylesheet" href="/assets/css/student/makeupExam.css" type="text/css">
  
</head>
<body>
  <%- include('../partials/studentnav') %>

    <form method="POST" action="/makeuprequest" enctype="multipart/form-data">
	<h2 align = "center">Makeup Exam Request</h2> 
    <div align = "center" class="class1"> 
        <select name="course" >
           <!--printing the courses the student gotten from server-->
            
            <% if (courses !== 0) { %>
                <% courses.forEach( course => { %>
                  <option value=<%= course.CourseChosen %> > <%= course.CourseChosen %></option>
                <% }) %>
             
              <% } else { %>
              
              <p> you are taking no courses </p>
             
              <%  } %>


</select>
</div>

<br>
<div align="center" class= "class2"> Instructor name <br> <input name = "instname" type = "text"> </div> <br>
<div align="center" class= "class2"> Exam Date <br> <input name = "date" type = "text" placeholder="mm/dd/yyyy"> </div> <br>

<div align="center" > Reason for missing exam <br> <input name = "reason" type = "text" id= "message" placeholder="write your message here..."> </div> <br>
<div align="center" class="class1">Supporting message attachement <br> <input type="file" name="filen" required></div> <br>
<div align = "center" class="class1"><input type="submit" name="bt" value="submit"  /> </div>
</form>
<% if(error) { %>
  <p id="wrong">Incorrect form fill in again</p>
<% } %>
</body>
</html>
