<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Cost Sharing</h1>										<!--main purpose of page-->

 	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_account_information.html">Account<br>			<!--link to first subpage choice-->
	<sub>Personal Information</sub></a></p>
	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_home_address.html">Address<br>				<!--link to second subpage choice-->
	<sub>Home Address</sub></a></p>
	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_payment_methods.html">Payment<br>				<!--link to third subpage choice-->
	<sub>Payment Method</sub></a></p>
  
  <h3>Payment Methods</h3>
	<form action="somewebsite.php">										<!--link to check the submitted information-->
  	    <label for="accinfo"><sub>Account Information</sub></label><br>					<!--undecided placeholder information-->
 	    <input type="text" id="accinfo" name="accinfo" value="1000**********"><br>
 	    <label for="email"><sub>Email</sub></label><br>							<!--undecided placeholder information-->
 	    <input type="text" id="email" name="email" value="exampleemail@example.com"><br><br>
 	    <input type="submit" value="Submit">								<!--submit button-->
	</form>
  

</body>

</html>