<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Assignment/ Project Submission</title>
	<link rel="stylesheet" href="/assets/css/assignmentSubmission.css" type="text/css">
	<link rel="stylesheet" href="/nav/studentNav.css">
	
</head>
<body>
	<%- include('../partials/studentnav') %>

	<div class="body" > <h1> Assignment/ Project Submission </h1>  </div>
            <br>
<table align = "center">
<tr>
	<td>Course</td>
	<td>Assignment</td>
	<td>Upload</td>
</tr>
<br>
<a href="" download></a>
<% if (msg == null){ %>
</table>
<p>You have no Assignment.</p>
<% }else {%>
	<% msg.forEach( cmsg => {%>
		<tr>
			<td><%= cmsg.courseName %></td>
			<td><a download href= <%= cmsg.path%> download> Download </a></td>
			<td> <a href="/projandassSubmition" target=_blank> SUBMIT PAGE</a>
			</td>
		</tr>
 <%})%>

</table>
<% } %>
<br>


 <footer class="footer">
      
      <div class="container">
        
        <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
        
    </div>
      
    </footer>
	
	 <script>

      var icon =document.getElementById("icon");
      icon.onclick= function(){
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")){
          meklog.src="/assets/images/logo3.png";
        
        } else{
          meklog.src="/assets/images/logo.png";
          
        }
      
      }
      
        </script>
</body>
</html>